@import url("https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap");

html {
  box-sizing: border-box;
}
@keyframes background {
  100% {
    background-size: 4000px 1000px;
  }
}

body {
    margin: 0;
    min-height: 100vh;
    background: #732AC9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Spartan, sans-serif;
    font-size: 12px;
  
    background-image: url("Background.svg");
    background-size: 1800px 700px;
    background-position: -500px 0;
    animation: background 10s infinite alternate linear;
}

.player-container {
    height: 500px;
    width: 400px;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 20px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.564);
}